language: android
jdk: oraclejdk8
sudo: false
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "$HOME/.gradle/daemon"
  - "$HOME/.gradle/native"
  - "$HOME/.gradle/wrapper"
android:
  components:
  - platform-tools
  - tools
  - build-tools-27.0.3
  - android-27
  - sys-img-armeabi-v7a-android-24
  - extra-android-m2repository
  - extra-google-m2repository
  - extra-android-support
  - extra-google-google_play_services
before_install:
- mkdir "$ANDROID_HOME/licenses" || true
- echo -e "\n8933bad161af4178b1185d1a37fbf41ea5269c55" > "$ANDROID_HOME/licenses/android-sdk-license"
- echo -e "\n84831b9409646a918e30573bab4c9c91346d8abd" > "$ANDROID_HOME/licenses/android-sdk-preview-license"
- chmod +x gradlew
script:
- "./gradlew clean build"
deploy:
- provider: releases
  overwrite: true
  skip_cleanup: true
  api_key:
    secure: $GH_TOKEN
  file: "./lib/build/outputs/aar/*-release.aar"
  on:
    branch: master
    tags: true
    repo: kkiapay/android-sdk
- provider: script
  script: "./gradlew :clean :lib:assembleRelease :lib:bintrayUpload"
  skip_cleanup: true
  dry-run: false
  on:
    branch: master
    tags: true

